@model WorkFlowProject.Models.Fournisseur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fournisseur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_frn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_frn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress_frn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress_frn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail_frn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail_frn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel_frn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel_frn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
